* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.foto-fundo {
  position: absolute;
  background-image: url(../../assets/images/frente-ranuci.jpeg);
  background-color: rgb(0, 106, 60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 102vh;
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
}

#first-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  height: 80vh;
  color: #fff;
  background-color: rgba(0, 106, 60, 0.4);
  padding: 6vh 6vw;
}
#first-article h1 {
  margin-bottom: 2vh;
  font-size: 22px;
}
#first-article h2 {
  font-size: 14px;
  margin-bottom: 4vh;
  text-align: justify;
}
#first-article a {
  color: #006A3C;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  padding: 20px 20px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 10px;
  transition: scale 1s;
}
#first-article a:hover {
  scale: 1.05;
}

#second-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #006A3C;
  padding: 5vh 6vw;
}
#second-article h1 {
  margin-bottom: 10px;
  font-size: 22px;
}
#second-article p {
  font-size: 14px;
  margin-bottom: 20px;
}
#second-article img {
  width: 90vw;
  border-radius: 10px;
}
#second-article div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#third-article {
  display: flex;
  flex-direction: column;
  background-color: #006A3C;
  color: #fff;
  padding: 5vh 6vw;
  text-align: center;
}
#third-article h1 {
  margin-bottom: 10px;
}
#third-article p {
  margin-bottom: 30px;
}
#third-article a {
  color: #006A3C;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 17px;
  background-color: #fff;
  border-radius: 10px;
  transition: scale 1s;
  font-weight: bold;
}
#third-article a:hover {
  scale: 1.05;
}
#third-article img {
  border-radius: 100%;
  width: 60px;
}
#third-article h2 {
  font-size: 20px;
}
#third-article h3 {
  font-size: 14px;
  margin-bottom: 15px;
}
#third-article .second-div {
  margin-top: 40px;
}

#fourth-article {
  text-align: center;
  color: #006A3C;
  padding: 6vh 6vw;
  overflow-x: hidden;
}
#fourth-article h3 {
  font-size: 12px;
}
#fourth-article h1 {
  color: white;
  font-size: 24px;
  -webkit-text-stroke: #006A3C 1px;
  margin-bottom: 2vh;
}
#fourth-article h2 {
  font-size: 16px;
  margin-bottom: 4vh;
}
#fourth-article span {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
#fourth-article span div {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 200px;
  margin: 0 auto;
}
#fourth-article span div .fourth-article-tablet {
  display: none;
}
#fourth-article span div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 1vh 0;
}
#fourth-article span div div a img {
  border: 2px solid #006A3C;
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 100%;
  margin-right: 10px;
}
#fourth-article span div div div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
}
#fourth-article span span {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
#fourth-article span span iframe {
  width: 80vw;
  height: 30vh;
  margin-top: 4vh;
  border-radius: 10px;
  border: 2px solid #006A3C;
}

#whastapp {
  position: fixed;
  top: 84vh;
  right: 2vw;
  opacity: 0.8;
}
#whastapp img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #006A3C;
  padding: 15px;
  border: 2px solid white;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: rgb(255, 255, 255);
}

#about-us {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  color: #006A3C;
  text-align: center;
}
#about-us h2 {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
}
#about-us .about-us-content {
  padding: 20px;
}
#about-us .about-us-content img {
  width: 30%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #006A3C;
  justify-content: space-around;
}
#about-us .about-us-content h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

@media (min-width: 400px) {
  #fourth-article iframe {
    width: 80vw;
    height: 35vh;
    margin-top: 4vh;
    border-radius: 10px;
    border: 2px solid #006A3C;
  }
}
@media (min-width: 500px) {
  #fourth-article span span iframe {
    width: 60vw;
    height: 45vh;
    margin-top: 4vh;
    border-radius: 10px;
    border: 2px solid #006A3C;
  }
}
@media (min-width: 768px) {
  #first-article {
    padding: 10vh 6vw;
    justify-content: center;
  }
  #first-article h1 {
    margin-bottom: 2vh;
    font-size: 24px;
  }
  #first-article h2 {
    font-size: 16px;
    margin-bottom: 4vh;
  }
  #first-article a {
    color: #006A3C;
    text-decoration: none;
    text-align: left;
    padding: 20px 20px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 10px;
    transition: scale 1s;
  }
  #second-article img {
    width: 60vw;
  }
  #fourth-article {
    text-align: left;
    color: #006A3C;
    padding: 10vh 2vw;
    overflow-x: hidden;
  }
  #fourth-article h3 {
    font-size: 14px;
  }
  #fourth-article h1 {
    color: white;
    font-size: 26px;
    -webkit-text-stroke: #006A3C 1px;
    margin-bottom: 2vh;
    width: 40vw;
  }
  #fourth-article h2 {
    font-size: 18px;
    margin-bottom: 4vh;
  }
  #fourth-article .fourth-article-celular {
    display: none;
  }
  #fourth-article span {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
  }
  #fourth-article span div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 200px;
    margin: 0 10vw 0 0;
  }
  #fourth-article span div .fourth-article-tablet {
    display: block;
  }
  #fourth-article span div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1vh 0;
  }
  #fourth-article span div div a img {
    border: 2px solid #006A3C;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 100%;
  }
  #fourth-article span div div div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
  }
  #fourth-article span span {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  #fourth-article span span iframe {
    width: 40vw;
    height: 40vh;
    margin-top: 4vh;
    border-radius: 10px;
    border: 2px solid #006A3C;
  }
  #whastapp {
    opacity: 1;
  }
}
@media (min-width: 850px) {
  #first-article {
    padding: 10vh 6vw;
  }
  #first-article h1 {
    margin-bottom: 2vh;
    font-size: 24px;
  }
  #first-article h2 {
    font-size: 16px;
    margin-bottom: 4vh;
  }
  #first-article a {
    color: #006A3C;
    text-decoration: none;
    text-align: left;
    padding: 20px 20px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 10px;
    transition: scale 1s;
  }
  #fourth-article {
    text-align: left;
    color: #006A3C;
    padding: 10vh 6vw;
    overflow-x: hidden;
  }
  #fourth-article h3 {
    font-size: 14px;
  }
  #fourth-article h1 {
    color: white;
    font-size: 26px;
    -webkit-text-stroke: #006A3C 1px;
    margin-bottom: 2vh;
    width: 40vw;
  }
  #fourth-article h2 {
    font-size: 18px;
    margin-bottom: 4vh;
  }
  #fourth-article .fourth-article-celular {
    display: none;
  }
  #fourth-article span {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
  }
  #fourth-article span div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 200px;
    margin: 0 10vw 0 0;
  }
  #fourth-article span div .fourth-article-tablet {
    display: block;
  }
  #fourth-article span div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1vh 0;
  }
  #fourth-article span div div a img {
    border: 2px solid #006A3C;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 100%;
  }
  #fourth-article span div div div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
  }
  #fourth-article span span {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  #fourth-article span span iframe {
    width: 40vw;
    height: 40vh;
    margin-top: 4vh;
    border-radius: 10px;
    border: 2px solid #006A3C;
  }
  #whastapp {
    opacity: 1;
  }
}
@media (min-width: 1000px) {
  .foto-fundo {
    height: 98vh;
  }
  #first-article {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 10vh 6vw;
  }
  #first-article h1 {
    margin-bottom: 2vh;
    font-size: 30px;
    width: 70vw;
  }
  #first-article h2 {
    font-size: 20px;
    margin-bottom: 4vh;
    width: 70vw;
  }
  #first-article a {
    color: #006A3C;
    text-decoration: none;
    text-align: left;
    padding: 20px 20px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 10px;
    transition: scale 1s;
  }
  #second-article {
    padding: 10vh 3vw;
  }
  #second-article div {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #second-article h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  #second-article p {
    font-size: 20px;
    text-align: left;
  }
  #second-article img {
    margin-left: 60px;
    width: 40vw;
  }
  #third-article h1 {
    font-size: 30px;
  }
  #third-article p {
    font-size: 18px;
  }
  #third-article h2 {
    font-size: 20px;
  }
  #third-article h3 {
    font-size: 16px;
    margin-top: 5px;
  }
  #third-article .second-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
  }
  #third-article .second-div div {
    width: 26vw;
    margin: 0 3vw;
  }
  #fourth-article {
    text-align: left;
    color: #006A3C;
    padding: 15vh 2vw;
    overflow-x: hidden;
  }
  #fourth-article h3 {
    font-size: 16px;
  }
  #fourth-article h1 {
    color: white;
    font-size: 34px;
    -webkit-text-stroke: #006A3C 1px;
    margin-bottom: 2vh;
    width: 40vw;
  }
  #fourth-article h2 {
    font-size: 20px;
    margin-bottom: 4vh;
  }
  #fourth-article .fourth-article-celular {
    display: none;
  }
  #fourth-article span {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
  }
  #fourth-article span div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 200px;
    margin: 0 10vw 0 0;
  }
  #fourth-article span div .fourth-article-tablet {
    display: block;
  }
  #fourth-article span div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1vh 0;
  }
  #fourth-article span div div a img {
    border: 3px solid #006A3C;
    width: 50px;
    height: 50px;
    padding: 2px;
    border-radius: 100%;
  }
  #fourth-article span div div div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
  }
  #fourth-article span div div div h4 {
    font-size: 18px;
  }
  #fourth-article span span {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  #fourth-article span span iframe {
    width: 40vw;
    height: 50vh;
    margin-top: 4vh;
    border-radius: 10px;
    border: 2px solid #006A3C;
  }
  #whastapp {
    opacity: 1;
  }
}
@media (min-width: 1400px) {
  #first-article {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 10vh 6vw;
  }
  #first-article h1 {
    margin-bottom: 2vh;
    font-size: 46px;
    width: 70vw;
  }
  #first-article h2 {
    font-size: 26px;
    margin-bottom: 4vh;
    width: 70vw;
  }
  #first-article a {
    color: #006A3C;
    text-decoration: none;
    text-align: left;
    padding: 30px 30px;
    font-size: 26px;
    background-color: #fff;
    border-radius: 10px;
    transition: scale 1s;
  }
  #first-article a:hover {
    scale: 1.1;
  }
  #fourth-article {
    text-align: left;
    color: #006A3C;
    padding: 15vh 2vw;
    overflow-x: hidden;
  }
  #fourth-article h3 {
    font-size: 26px;
  }
  #fourth-article h1 {
    color: white;
    font-size: 60px;
    -webkit-text-stroke: #006A3C 3px;
    margin-bottom: 2vh;
    width: 40vw;
  }
  #fourth-article h2 {
    font-size: 26px;
    margin-bottom: 4vh;
  }
  #fourth-article .fourth-article-celular {
    display: none;
  }
  #fourth-article span {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
  }
  #fourth-article span div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 20vw;
    margin: 0 10vw 0 0;
  }
  #fourth-article span div .fourth-article-tablet {
    display: block;
  }
  #fourth-article span div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1vh 0;
  }
  #fourth-article span div div a img {
    border: 3px solid #006A3C;
    width: 70px;
    height: 70px;
    padding: 2px;
    border-radius: 100%;
  }
  #fourth-article span div div div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
  }
  #fourth-article span div div div h4 {
    font-size: 26px;
  }
  #fourth-article span span {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  #fourth-article span span iframe {
    width: 40vw;
    height: 40vh;
    margin-top: 4vh;
    border-radius: 10px;
    border: 2px solid #006A3C;
  }
  #whastapp {
    position: fixed;
    top: 84vh;
    right: 2vw;
    opacity: 1;
  }
  #whastapp img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #006A3C;
    padding: 30px;
    border: 2px solid white;
  }
}/*# sourceMappingURL=style.css.map */