* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: rgba(0, 106, 60, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18vh;
}
header img {
  width: 150px;
  height: 90px;
}
header .hamburguer {
  display: block;
  position: absolute;
  top: 8vh;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}
header .bar {
  display: block;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
header .menu-opcoes.show {
  display: block;
}
header .menu-opcoes {
  display: none;
  background-color: #006A3C;
  padding: 20px;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}
header .menu-opcoes ul {
  display: block;
  flex-direction: column;
  text-align: center;
  list-style: none;
  padding: 0;
}
header .menu-opcoes li {
  display: block;
  margin: 15px 0;
}
header nav {
  display: none;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin-right: 10px;
}
header nav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  margin: 0 12px;
  text-align: center;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transition: width 0.5s ease-in-out;
}
header nav ul li a:hover::after {
  width: 100%;
}
header .botao-header {
  color: #006A3C;
  text-decoration: none;
  padding: 15px 25px;
  background-color: #fff;
  margin-left: 2vw;
  border-radius: 10px;
  transition: scale 1s;
  overflow-y: hidden;
}
header .botao-header:hover {
  scale: 1.05;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #006A3C;
  padding-top: 3vh;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
}
footer div img {
  width: 150px;
  height: 90px;
}
footer div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
footer div div img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 5px;
  border: 2px solid white;
  margin: 0 5px;
  transition: 1s;
}
footer div div img:hover {
  scale: 1.05;
}
footer div h1 {
  font-size: 16px;
  margin: 2vh 0;
  color: white;
  width: 80vw;
  text-align: center;
}
footer p {
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 2vh 0;
}

@media (min-width: 1000px) {
  header {
    justify-content: space-around;
    padding: 0;
    height: 18vh;
    font-weight: bold;
  }
  header .hamburguer {
    display: none;
  }
  header .menu-opcoes {
    display: none;
  }
  header #menu {
    display: none;
  }
  header .menupc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .menupc ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .menupc a {
    font-size: 22px;
  }
  header img {
    width: 150px;
    height: 90px;
  }
}
@media (min-width: 1400px) {
  header img {
    width: 230px;
    height: 130px;
  }
  header .menupc a {
    font-size: 30px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #006A3C;
    padding-top: 3vh;
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
  }
  footer div img {
    width: 230px;
    height: 130px;
  }
  footer div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
  }
  footer div div img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 5px;
    border: 2px solid white;
    margin: 0 5px;
  }
  footer div h1 {
    font-size: 26px;
    margin: 2vh 0;
    color: white;
    width: 80vw;
    text-align: center;
  }
  footer p {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 2vh 0;
  }
}/*# sourceMappingURL=headerfooter.css.map */